body{
	background-color: #F4F2F3;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-family: didot;
  color: navy;
}
h1{
	color: navy;
	font-size: 100px;
	font-family: didot;
	text-align: center;
	background-color: goldenrod;
}

h2{
	font-family: didot;
	font-size: 30px;
	padding: 40px;
	color: navy;


}

p{
	font-size: 30px;
	text-align: left;
	padding: 55px;
	color: darkblue;
	font-family: didot;
}


a:hover{
 	color: ghostwhite;
 }

 a:active {
 	color: ghostwhite;
 }

.lyrics{
	font-family: futura;
	font-size: 25px;
	background-color: goldenrod;
	color: ghostwhite;
	text-align: center;
	border-radius: 10px;

}

h3{
	font-family: futura;
	font-size: 25px;
	color: ghostwhite;
	text-align: center;
}

a{ 
	font-size: 25px;
	color: lightgray;
	text-decoration: none;
 }

 h3{
	align-content: center;
	
}

@media only screen and (max-width: 600px) {
	h1{
		font-size: 65px;
	}
	h2, p{
		font-size: 15px;
	}
	pre{
		font-size: 10px;
	}
}

.column {
  float: left;
  width: 30%;
  padding: 5px;
  padding-left: 30px;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.item {
  text-align: center;
  animation: spintype 2s ease-in-out 2s;
}


@keyframes spintype {
0% { transform: rotate(0);
}
50% {
  color: blue;
}
100% { 
  transform: rotate(1turn);
}
}-