body{
	background-color: #C2C05E;
	padding: 20px;
}

h1{
	color: #8DACC2;
	text-align: center;
	font-size: 75px;
	font-family: didot;
	background-color: darkolivegreen;
	padding: 20px;
	border-radius: 30px;
}

h2{
	color: midnightblue;
	text-align: right;
	font-family: didot;
	font-style: italic;
}

h3{
	font-size: 20px;
	background color: darkred;

}

.imgs{
	justify-content: center;
}

p{
	font-size: 30px;
	text-align: left;
	padding-left: 50px;
	padding-right: 50px;
	color: midnightblue;
	font-family: didot;
}
a:hover{
 	color: ghostwhite;
 }

 a:active {
 	color: ghostwhite;
 }

.lyrics{
	font-family: futura;
	font-size: 25px;
	background-color: darkolivegreen;
	color: ghostwhite;
	text-align: center;
	border-radius: 10px;

}

h3{
	font-family: futura;
	font-size: 25px;
	color: ghostwhite;
	text-align: center;
}

a{ 
	font-size: 25px;
	color: lightgray;
	text-decoration: none;
 }

.container {
     display: flex;
     flex-wrap: wrap;
     padding: 5px;
     justify-content: space-between;
     justify-content: lecacy center;
}
.item {
     margin: 5px;
}


 @media (min-width: 768px) {
  body {
    font-size: 40px;
 
  }

}

@media only screen and (max-width: 600px) {
	h1{
		font-size: 25px;
	}
	h2, p{
		font-size: 15px;
	}
	pre{
		font-size: 10px;
	}
}


/* Desktop breakpoint */
@media (min-width: 992px) {
  body {
    font-size: 50px;
  }
   h1,h2{
    font-size: 60px;
  }
  pre{
  	font-size: 20px;
  }
}

/* Wide screen breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 60px;
  }
}
